---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}

      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}

        {% if page.toc %}
        <div class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
          <nav class="toc">
            <header>
              <h4 class="nav__title">
              <i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> 
              {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}
              </h4>
            </header>
            {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
          </nav>
        </div>
        {% endif %}
        
        <div class="page__inner-wrap">
            <section class="page__inner-wrap.page__content" itemprop="text">
              {{ content }}
            </section>
        </div>

      </article>
    </div>

    {% include scripts.html %}
    <p style="background:none;height: 0%;position:relative;bottom: 0px;width: 100%;text-align: center;
    ">
      <img style="padding-top:2px;" src="/images/national emblem.png">
      <a class="banquan" style="color:#000;" href="https://beian.miit.gov.cn/" target="_blank">粤ICP备2023035864号</a>
    </p>
    <a style="background:none;height: 0%;position:relative;bottom: 0px;width: 100%;text-align: center; color:black">Copyright © 2023 Dylan CHEN. All rights reserved.</a>
  </body>
</html>
